<!DOCTYPE html>
<html lang="en" xmlns:th="wwww.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CareAboutYou Deposit Money</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="index::navclass2"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Deposit Money</li>
        </ol>
        <h3 th:field="*{user}"  th:inline="text">Hello [[${user.username}]]. Deposit money to one of your accounts</h3>
        <hr>
        <form th:action="@{/user/deposit}" method="post">
            <div th:if="${error}" class="has-error text-danger" th:text="${error_message}" ></div>
            <p >Select an account to deposit money to</p>
            <select class="form-control" id="sel1"  name="number">
                <option th:each="account :${user.accounts}" th:value="${account.accountNumber}"
                        th:inline="text" name="options"><strong>Account Number: [[${account.accountNumber}]], Balance: [[${account.balance}]]</strong></option>
            </select>
            <br/>
            <p> Enter date (format: <strong>MM/dd/YYYY </strong>)</p>
            <input class="form-control" id="depositdate" th:name="date" type="text" placeholder="Enter date (format: MM/dd/YYYY)"/>
            <br/>
            <p> Enter deposit amount</p>
            <input class="form-control" id="depositinput" th:name="amount" type="text" pattern="[0-9.]+" placeholder="Enter deposit amount"/>
            <br/>
            <p> Enter description</p>
            <input class="form-control" id="depositdesc" th:name="description" type="text" placeholder="Enter description"/>
            <hr>
            <button type="submit" class="btn btn-primary btn-block" >Deposit money</button>
        </form>
        <!-- Blank div to give the page height to preview the fixed vs. static navbar-->
        <div style="height: 500px;"></div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <div th:replace="index::footerclass2"></div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div th:replace="index::logoutclass"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <script>
        $('#toggleNavPosition').click(function() {
            $('body').toggleClass('fixed-nav');
            $('nav').toggleClass('fixed-top static-top');
        });

    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
        $('#toggleNavColor').click(function() {
            $('nav').toggleClass('navbar-dark navbar-light');
            $('nav').toggleClass('bg-dark bg-light');
            $('body').toggleClass('bg-dark bg-light');
        });

    </script>
</div>
</body>

</html>