<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-wrapper">
    <div class="col-md-12" id="page-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="internalregister" method="POST">
                    <fieldset>
                        <div class="form-group">
                            <label for="email" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-5">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-lg-2 control-label">Address</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="date_of_birth" class="col-lg-2 control-label">DOB</label>
                            <div class="col-lg-5">
                                <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" placeholder="Date of Birth" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ssn" class="col-lg-2 control-label">SSN</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="ssn" id="ssn" placeholder="SSN Number" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Role</label>
                            <div class="col-lg-5">
                                <select class="form-control" name="designation" id="designation" required>
                                    <option value="">Select Option</option>
                                    <option value="ROLE_REGULAR">Regular</option>
                                    <option value="ROLE_MANAGER">Manager</option>
                                    <option value="ROLE_ADMIN">Admin</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-7 col-lg-offset-2">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                <button type="reset" class="btn btn-default">Reset</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


    </div>

</div> <!-- .content-wrapper -->
</body>
</html>